{% extends "base.html.twig" %}
    {% block titre %} A propos de l'auteur {% endblock titre%}
    {% block contenu %}
        <h2>Nom : {{auteur.nom}}</h2>
        <h2>Prenom : {{auteur.prenom}}</h2>
        <h2>Age : {{auteur.age}}</h2>
        <div>Sexe : 
        {% if auteur.sexe %}
            Homme
            {% else %}
            Femme
        {% endif %}
        </div>
        <h2>Livres</h2>
            <div class="row">
                {% for livre in auteur.livres %}
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            <img width="100px"src="/images/{{livre.image}}">
                        </div>
                        <div class="col-6">
                            <div> Titre : {{livre.titre}}</div>
                            <div> Nombres de pages : {{livre.pages}}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    {% endblock contenu %}